<section class="pl-corp__clients-block" aria-labelledby="pl-corp-clients-title">
    <div class="pl-corp__inner">
        <p class="pl-corp__clients-label" id="pl-corp-clients-title">Бізнеси, що вже працюють на нашому коді</p>
    </div>

    <div class="pl-corp__clients-wrap">
        <div class="pl-corp__clients-stories-wrapper">
            <div class="pl-corp__clients-stories-container projects-stories-container" role="list">
                {% for client in home_clients %}
                {% include 'components/client_home_story.html' with client=client is_clone=False %}
                {% endfor %}
                {% for client in home_clients %}
                {% include 'components/client_home_story.html' with client=client is_clone=True %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
