{% load i18n %}
<article class="prop-price{% if package.is_recommended %} prop-price--rec{% endif %} prop-reveal" data-prop-reveal>
    <div>
        {% if package.is_recommended %}
        <span class="prop-price__badge">{% trans "Рекомендовано" %}</span>
        {% endif %}
        <h3 class="prop-price__name">{{ package.get_localized_name }}</h3>
    </div>
    {% if package.get_localized_scope %}
    <p class="prop-price__text">{{ package.get_localized_scope }}</p>
    {% endif %}
    {% if package.get_localized_duration %}
    <dl class="prop-price__meta">
        <dt>{% trans "Термін" %}</dt>
        <dd>{{ package.get_localized_duration }}</dd>
    </dl>
    {% endif %}
    <p class="prop-price__sum">{{ package.format_price }}</p>
</article>
