{% load i18n %}
{% get_current_language as CURRENT_LANG %}
<div class="dt-lang{% if extra_class %} {{ extra_class }}{% endif %}" data-dt-lang>
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}" data-dt-lang-next>
        <select name="language"
                class="dt-lang__select{% if select_class %} {{ select_class }}{% endif %}"
                aria-label="{% trans 'Мова' %}"
                data-dt-lang-select>
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            {% if language.code != 'ru' %}
            <option value="{{ language.code }}" {% if language.code == CURRENT_LANG %}selected{% endif %}>
                {{ language.code|upper }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
        {% if CURRENT_LANG == 'ru' %}
        <span class="dt-lang__current{% if select_class %} {{ select_class }}__current{% endif %}" aria-hidden="true">RU</span>
        {% endif %}
    </form>
</div>
