Django==5.2
gunicorn==23.0.0
uvicorn==0.34.2
whitenoise==6.9.0
python-dotenv==1.0.1
django-anymail==10.3
djangorestframework==3.16.0
pillow==11.1.0
requests==2.31.0
bleach==6.1.0
user-agents==2.2.0
python-decouple==3.8