<section id="portfolio" class="pl-shop__section pl-shop__clients" aria-labelledby="pl-shop-clients-title">
    <div class="pl-shop__inner">
        <h2 class="pl-shop__title pl-shop__clients-title" id="pl-shop-clients-title">Магазини, які вже працюють на нашому коді</h2>
    </div>
    <div class="pl-shop__clients-track">
        <div class="pl-shop__clients-stories-container" role="list">
            {% for client in home_clients %}
            {% include 'components/client_home_story.html' with client=client is_clone=False %}
            {% endfor %}
            {% for client in home_clients %}
            {% include 'components/client_home_story.html' with client=client is_clone=True %}
            {% endfor %}
        </div>
    </div>
</section>
