{% load i18n %}

<a href="{% url 'admin:index' %}" class="pl-admin-sidebar-logo">
    {% if site_logo.light and site_logo.dark %}
        <img src="{{ site_logo.dark }}" alt="{% trans 'Головна адмінпанелі' %}" class="pl-admin-sidebar-logo__img pl-admin-sidebar-logo__img--dark" width="40" height="40" decoding="async">
        <img src="{{ site_logo.light }}" alt="{% trans 'Головна адмінпанелі' %}" class="pl-admin-sidebar-logo__img pl-admin-sidebar-logo__img--light" width="40" height="40" decoding="async">
    {% else %}
        <img src="{{ site_logo }}" alt="{% trans 'Головна адмінпанелі' %}" class="pl-admin-sidebar-logo__img" width="40" height="40" decoding="async">
    {% endif %}
</a>
