{% load demoshop_extras i18n %}
<div class="ds-related ds-related--cols-{{ products|length|ideal_cols:4 }}" data-qa="related-grid">
    {% for product in products %}
    <a class="ds-related__card" href="{{ product.get_absolute_url }}">
        <span class="ds-related__media">
            {% if product.main_image %}
            <img class="ds-related__img"
                 src="{{ product.main_image.image.url }}"
                 alt=""
                 width="400"
                 height="400"
                 loading="lazy"
                 decoding="async">
            {% endif %}
        </span>
        <span class="ds-sr-only">{{ product.localized_name }}</span>
        <span class="ds-related__price">{{ product.price|money }} {% currency_symbol %}</span>
    </a>
    {% endfor %}
</div>
