{% extends 'base.html' %}
{% load static %}

{% block title %}Оплата успішна{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}

{% block content %}
<section class="payment-status">
    <div class="container text-center">
        <h1 class="text-mega color-brand-orange mb-lg">Дякуємо!</h1>
        <p class="text-large">Оплата пройшла успішно.</p>
        {% if page_url %}
        <p><a class="btn btn-secondary" href="{{ page_url }}">Перейти до платіжної сторінки</a></p>
        {% endif %}
    </div>

</section>
{% endblock %}