{% extends 'base.html' %}
{% load static %}

{% block title %}Помилка оплати{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}

{% block content %}
<section class="payment-status">
    <div class="container text-center">
        <h1 class="text-mega color-brand-orange mb-lg">Помилка</h1>
        <p class="text-large">Не вдалося створити інвойс або здійснити платіж.</p>
        {% if reason %}<p>{{ reason }}</p>{% endif %}
    </div>
</section>
{% endblock %}